<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link th:href="@{/css/table.css}" rel="stylesheet">
<title>TOP</title>
</head>
<body>
	<h1>掲示板</h1>
	<h3>新規投稿はこちらから↓</h3>

	<a href="/new"><button type="button">新規投稿</button></a>

	<form th:action="@{/}" method="get">
		日付 <input type="date" name="start_date" th:value="${start_date}">
		～ <input type="date" name="end_date" th:value="${end_date}">
		<button value="button">絞り込み</button>
	</form>

	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>投稿日時</th>
			<th>編集</th>
			<th>削除</th>
			<th>返信</th>
			<th>返信内容</th>
			<th>返信編集</th>
			<th>返信削除</th>

		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<td th:text="${#dates.format(content.created_date,'yyyy/MM/ddHH:mm:ss')}"></td>
			<td><a th:href="@{/edit/{id}(id=${content.id})}"><button
						type="button">編集</button></a></td>
			<td>

				<form th:action="@{/delete/{id}(id=${content.id})}"
					th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
			<td>
				<div class="comment">
					<form method="post"
						th:action="@{/addComment/{id}(id=${content.id})}"
						th:object="${formModel}">
						<input type="text" name="comment" size="30" /><br /> <input
							type="submit" value="返信" />
					</form>
				</div>
			</td>

			<div th:each="comment : ${comments}">
				<a th:if="${content.id == comment.reportId}">
					<td><a th:text="${comment.id}"></a><br /> <a
						th:text="${comment.comment}"></a></td> <br />
					<td><a th:href="@{/commentEdit/{id}(id=${comment.id})}"><button
								type="button">編集</button></a></td>
					<td>
						<form th:action="@{/deleteComment/{id}(id=${comment.id})}"
							th:method="delete">
							<input type="submit" value="削除">
						</form>
			</div>
		</tr>
	</table>

</body>
</html>